
body{
  background:#42445A;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  margin:0 ;
  font-family: Arial, sans-serif;
}

.clock {
  width: 320px;
  height: 320px;
  background: #1e2937;
  border: 3px solid snow;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.digital{
  position: absolute;
  color: #22DED5;
  top: 60%;
}

.hand {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom center;
  border-radius: 50px;
  transition: all 0.05s cubic-bezier(0.4, 2.08, 0.55, 0.06);
}

.hour-hand {
  width: 8px;
  height: 80px;
  background: #f8fafc;
  z-index: 3;
}

.minute-hand {
  width: 6px;
  height: 110px;
  background: #60a5fa;
  z-index: 4;
}

.second-hand {
  width: 3px;
  height: 120px;
  background: #ef4444;
  z-index: 5;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #ef4444;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: 3px solid #e2e8f0;
}

/* Numbers */
.number {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #e2e8f0;
}

#date{
  position: absolute;
  color: #F91C1C;
  left:60%;
  top:40%;
}

span{
  position: absolute;
}
#applyBtn{
  align-items: center;
  justify-content: center;
  background:#17D7D8;
  color:snow;
margin-bottom:10px ;
  margin-left:50px;
  height: 60px;
  width: 100px;
  border-radius:8px;
}

button:hover{
  background:#27CEBE;
}
#setting{
  position: absolute;
  background:#FFFFFF;
  z-index: 150;
  justify-content: center;
  align-items: center;
  height:max-container;
  width: 60%;
  border: 1px solid #000000;
  border-radius: 8px;
}
.hide{
  visibility:hidden;
}


input{
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

#setting-content{
  display:flex;
  margin: 8px;
  gap: 4px;
  justify-items: space-between;
}

#showBtn{
  position:absolute;
  top:10px;
  left: 10px;
  background: #69F59B;
}